@import './reset.css';
 .btn {
          text-align: center;
          height: 1rem;
          line-height: 1rem;
          font-size: .36rem;
          background-color: #FF7B72;
          color:#fff;
          width: 100%;
      }
      html,body {
          height: 100%;
      }

    .two-cut {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .three-cut {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .red {
        color: #FF7575
    }
    .page {
        height: 100%;
        overflow-y: auto
    }